@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #000;
  user-select: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.container {
  width: 90vw;
  display: flex;
}

.panel {
  position: relative;
  height: 80vh;
  background-image: url(/img/city-on-winter.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0.5;
  margin: 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: flex 700ms ease-in-out;
}

.panel h3 {
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    margin: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.4s;
}
